*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F0F8FF;
   
}
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.nav-bar ul{ 
    padding: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav */
.nav{
   width: 1440px;
    height: 698px; 
}
.nav-bg{
    background-image: url('./images/Hero-bg.png');

}
.text-center{
    text-align: center;
}
.align-items{
    align-items: center;
}
.logo{
    color: #4E47FF;
    font-weight: black;
    font-size: 50px;
}
.btn{
    color: #ffffff;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}
.header-texts{
    margin: 158px 268px 152px 268px;
    text-align: center;
}
.header-text{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
.header-texts ul{
    list-style: none;
    gap: 36px;
}
/* actioin */
.actions{
    margin: 116px 160px 0 141px;
    display: flex;
}
.action-hd{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}
.action-des{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    font-weight: 400;
}
.action{
    margin: 63px 220px 63px 0;
    text-align: justify;
}
.actions img{
    width: 403px;
    height: 328;
    border-radius: 48px;
}

/* productiveti */
.pro{
    border: none;
    border-radius: 24px;
    margin: 116px 160px 0 140px;
    background-color: #E6E6FA;
    padding: 80px 50px;
}
.pro-hd{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.pro ul {
    text-align: justify;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.pro ul h1{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.pro ul p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

/* what */
.what{
    margin: 137px 150px 0 150px;
    width: 1140px;
    height: 342px;
}
.what h1{
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}
.wh{
    
    width: 367px;
    height: 244px;
    display: flex;
    gap: 20px;
}
.box{
    border: 1px solid lightgrey;
    border-radius: 14px;
}
.stars{
    display: flex;
    gap: 4px;
    list-style: none;
    margin: 24px 227px 24px 24px;
}
.box{
    list-style: none;
}
.box-text .into{
    margin: 24px 24px 0 24px;
    text-align: justify;
}
.what h4{
    color: #1E1E1E;
    font-weight: bold;
    font-size: 30px;
}
.what h6{
    color: #1E1E1E;
    font-size: 15px;
    font-weight: 400;
}
.person{
    display: flex;
    gap: 12px;
    margin: 24px;
}
.person img{
     border-radius: 50%;
    object-fit: cover;
    border: none;
}
.person-des{
    color: #757575;
    font-weight: bold;
    font-size: 15px;
}
.person-des span{
    color: #757575;
    font-weight: normal;
    font-size: 15px;
}
/* ready to focus */
.ready-to-focus{
    text-align: center;
    margin: 146px 150px 0 150px;
    border: 1px solid aliceblue;
    border-radius: 10px;
    background-color: white;
    width: 1140px;
    height: 697px;
}
.title-ready{
    color:#000000 ;
    font-size: 50px;
    font-weight: bold;
    margin: 71px 312px 0 312px;
}
.ready-des{
    color: #757575;
    font-weight: bold;
    margin: 20px 15px 0 15px;
}
.ready-to-focus button{
    margin: 20px 146px 0 146px;
}
.ready-to-focus img{
    border: none;
    border-radius: 48px;
    margin: 20px 150px 71px 150px;
}
/* get in  */
.get-in{
    width: 1140px;
    height: 632px;
    margin: 94px 150px 0 150px;
    padding: 71px;
    display: flex;
    gap: 115px;
}
.title-get{
    height: 232px;
    width: 528px;
    font-size: 60px;
    font-weight: bold;
    margin: 200px 0 0 0;

}
.reg-form{
    margin: 71px 0 0 0;
    width: 497px;
    height: 490px;
    
}
.frm{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.frm input{
  border: 1px solid #e0e0e0;
  border-radius: 14px;
  background-color: #ffffff;
  font-size: 10px;
  outline: none;
  transition: 0.3s ease;
  height: 60px;
  width: 400px;
  padding: 5px;
}
.frm textarea{
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
  height:135px;
  width: 410px;
}
.label{
    font-size: 18px;
    font-weight: 500;
}
.lable-inpt{
    font-weight: 500;
    font-size: 30px;
}
.label-btn{
    width: 410px;
    color: #ffffff;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}
.label-text{
    margin: 10px 0 0 0;
}
input{
    font-size: medium;
}
::placeholder{
    font-size: 20px;
    font-weight: 500;
}

/* footer */
footer{
    
    background-color: white;
}
